<h4 style="text-align: justify;"><strong>This app allows the analysis of data recorded with the TriKinetics Activity Monitor.</strong></h4>
<p style="text-align: justify;">In order to use the app please follow the next steps:</p>
<ol style="list-style-type: lower-roman;">
<li style="text-align: justify;"><em>Entering Data:</em> You can upload standard files obtained from the TriKinetics Drosophila Activity Monitor System. An example data set is provided via the download button to the left (contained within a .zip file; depending on the browser you might need to add the .zip ending to the downloaded file). Please use meaningful filenames, as those will be the labels for the data analysis outcomes. Upload the single files of the example data (or your own data) in the next tab and select the timepoints switching the lights on and off. Once the upload is finished, a preview of the pre-processed data shows up.</li>
<li style="text-align: justify;"><em>Initital Analysis: </em>Following the data upload please switch to the next tab. It provides the actinogram(s), a quantification of the averaged total movements per fly (violinplot &amp; boxplot), the associated statistics and a heatmap with a representation of the last moving flies to identify dead flies.</li>
<li style="text-align: justify;"><em>Advanced Analysis (experimental):</em> The last tab provides a periodogram and statistics of the selected dataset based on the slider on the left.
<p style="text-align: justify;">&nbsp;</p>
</li>
</ol>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>



